
    ul {
        list-style-position: outside;
        text-align: left;
        padding-left: 30%;
    }

    body {
        font-family: roboto;
    }

    li {
        padding: 5px;
    }

    strong {
        padding: 5px;
    }